<h1>Requests#new</h1>
<p>Find me in app/views/requests/new.html.erb</p>

<%= form_for @request do |f| %>
  <%= f.submit "Запрос", class: "btn btn-large btn-primary", id: "Save" %>
  <br/>
<% end %>
<br/>
