<h1>Requests#show</h1>
<p>Find me in app/views/requests/show.html.erb</p>

  <div class="form-group">
  	<p>Request.url: <%= @request.url %></p>
  	<p>Request.result: <%= @request.result %></p>  	
  </div> 
  <br/>
